.caroussel-img {
    height: 84vh;
    object-fit: cover;
}

.title-bg {
    background-image: url("../images/brightBackground.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-position-y: bottom;
    margin-bottom: 0;
    min-height: 100vh;
}

.title-table {
    background-color: rgba(255, 255, 255, 0.85);
}

body {
}

.pagination-container {
    font-family: monospace;
}

.page-item {
    width: 50px;
    text-align: center;
    font-size: 1.05rem;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.page-button {
    width: 35px;
}

.actors-bg {
    background-image: url("../images/brightBackground.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-position-y: bottom;
    margin-bottom: 0;
    min-height: 100vh;
}


.countries-bg {
    background-image: url("../images/brightBackground.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-position-y: bottom;
    margin-bottom: 0;
    min-height: 100vh;
}

.ratings-bg {
    background-image: url("../images/brightBackground.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-position-y: bottom;
    margin-bottom: 0;
    min-height: 100vh;
}

.directors-bg {
    background-image: url("../images/brightBackground.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-position-y: bottom;
    margin-bottom: 0;
    min-height: 100vh;
}

.categories-bg {
    background-image: url("../images/brightBackground.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-position-y: bottom;
    margin-bottom: 0;
    min-height: 100vh;
}

.search-bg {
    background-image: url("../images/brightBackground.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-position-y: bottom;
    margin-bottom: 0;
    min-height: 100vh;
}

.dropdown-btn {
    width: 10rem;
    text-align: right;
}

.card-container {
    object-fit: contain;
}

.card-image {
    align-self: center;
}
